%br
%script{ :src => "//platform.linkedin.com/in.js"}
%script{ :type => "IN/MemberProfile", 
         :"data-id" => "http://www.linkedin.com/in/mervinej",
         :"data-format" => "inline",
         :"data-related"=> "false"}

