%br
-# putting this together quick and dirty for now
-#  I'll revisit soon (maybe)
%span.nav_title About the Author
%p
  %b Joshua P. Mervine
%ul
  %li 
    %a{:href=>"http://github.com/jmervine"} Github
  %li 
    %a{:href=>"http://www.linkedin.com/in/mervinej"} LinkedIn

