%small
  - unless settings.contact.nil?
    %a{ :href => "#{settings.contact}" }Contact
    |
  %a{ :href => "/2012/05/29/introduction" }About 
  || Powered by
  %a{ :href => "http://ditty.rubyops.net/" }Ditty

