:preserve
  # Header 1 #
  ## Header 2 ##
  ... etc ...

  This is a paragraph, 
  which is text surrounded 
  by whitespace. 

  [Link](http://test.org)

  Now some inline markup 
  like _italics_,  
  **bold**, and `code()`. 

  ![img alt](/photo.jpg)     

  > Blockquotes text
  >> can be nested

  * Bullet lists are easy 
  - Another one
  + Another one

  1. A numbered list
  2. Which is numbered

  And now some code:

    // Code is text 
    // indented
    which(is_easy) {
      to_remember();
    }

  ~~~

  Text with  
  two trailing spaces  
  (on the right)  
  can be used  
  for things like poems  

  ### Horizontal rules

  * * * *
  ****
  ----------------


