.nav_section
  .nav_title Markdown Help
  %pre.markdown_text 
    = haml :_markdown_help, :layout => false
  %p
    %a{ :href => "http://warpedvisions.org/projects/markdown-cheat-sheet/", :target => "_blank" }Full Cheat Sheet
    %br
    %br
    %a{ :href => "http://daringfireball.net/projects/markdown/syntax", :target => "_blank" }Full Markdown Docs

