<% 
%>
  
<div id="form_post">
  <form method="post" name="post" action="/post/<%= post.id||"" %>">
    <div class="header">
      <h3>Title: <input class="value" type="text" name="post[title]" value="<%= post_title(post)||"" %>" /> </h3>
    </div>
    <div id="form_contents">
      <div class="header">
        <h3>Post:</h3>
      </div>
      <textarea name="post[body]" class="value"><%= post.body||"" %></textarea>
    </div>
    <div id="form_buttons">
      <input class="button" type="button" value="Cancel!" onClick="javascript:window.location.href='/'" /> &nbsp;
      <input class="button" type="submit" value="Save!" />
    </div>
  </form>
</div>
