#share_this
  %span.st_twitter{ :displayText => 'Tweet' }
  %span.st_linkedin{ :displayText => 'LinkedIn' }
  %span.st_digg{ :displayText => 'Digg' }
  %span.st_reddit{ :displayText => 'Reddit' }
  %span.st_fblink{ :displayText => 'Facebook Like' }

