:javascript
  var switchTo5x=true;
%script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
:javascript
  stLight.options({publisher: "80df436a-9769-4c43-a468-adcd0ae6ec70"});

