#share_this
  %span.st_twitter
  %span.st_linkedin
  %span.st_digg
  %span.st_reddit
  %span.st_fblike

  -#%span.st_twitter{ :displayText => 'Tweet' }
  -#%span.st_linkedin{ :displayText => 'LinkedIn' }
  -#%span.st_digg{ :displayText => 'Digg' }
  -#%span.st_reddit{ :displayText => 'Reddit' }
  -#%span.st_fblike{ :displayText => 'Facebook Like' }

