<% 
  archives ||= archive_items
%>
<div class="post post_show">
  <div class="post_header">
    <span class="post_title">Archives</span>
  </div>
  <div class="post_contents">
    <%= archive_list archives %>
  </div>
</div>
