<%
  path ||= nil
%>
<div id="form_post">
  <form method="post" name="form_post" action="/save">
    <input type="hidden" name="post_action" value="<%= path.nil? ? 'create' : 'update' %>" />
    <input type="hidden" name="post_path" value="<%= path.nil? ? 'create' : 'update' %>" />
    <div class="header">
      <h3>Title: 
        <% if path.nil? %>
          <input class="value" type="text" name="post_title" value="" />
        <% else %>
          <span class="value"><%= post_title(path) %></span>
        <% end %>
      </h3>
    </div>
    <div id="form_contents">
      <div class="header">
        <h3>Post:</h3>
      </div>
      <textarea class="value"><%= path.nil? ? '' : post_contents(path) %></textarea>
    </div>
    <div id="form_buttons">
      <input class="button" type="button" value="Cancel!" onClick="javascript:window.location.href='/'" /> &nbsp;
      <input class="button" type="submit" value="Save!" />
    </div>
</div>
