<div id="form_post">
  <form method="post" name="form_post" action="/post">
    <div class="header">
      <h3>Title: 
        <input class="value" type="text" name="title" value="" />
      </h3>
    </div>
    <div id="form_contents">
      <div class="header">
        <h3>Post:</h3>
      </div>
      <textarea name="body" class="value"></textarea>
    </div>
    <div id="form_buttons">
      <input class="button" type="button" value="Cancel!" onClick="javascript:window.location.href='/'" /> &nbsp;
      <input class="button" type="submit" value="Save!" />
    </div>
  </form>
</div>
