<%
  navigation ||= :nav_archive
  path ||= nil
%>
<html>
  <head>
    <title><%= settings.title %></title>
    <link rel="stylesheet" type="text/css" href="/ss/main.css" />
  </head>
  <body>
    <div id="new_link"><a href="/new">new post</a></div>
    <div class="header">
      <h1><%=settings.title%></h1>
    </div>

    <div class="main">
      <div class="contents">
        <%=yield%>
      </div>

      <div class="nav">
        <% begin %>
          <%= erb navigation, :layout => false %>
        <% end %>
      </div>
      <br class="clear" />
    </div>
  </body>
</html>
