- unless tags.empty?
  .post
    .post_header
      %span.post_title Tags
    .post_body
      - tags.each do |tag|
        - unless tag.posts.empty?
          %span.tag_link{ :style => "font-size: #{(50+(tag.posts.count/5)).round}px" }<
            %a{ :href => "/tag/#{tag.name}" }<=tag.name
            %small><= "(#{tag.posts.count})" 


