  <div class="header">
    <h3 class="sub_header">Markdown Help</h3>
  </div>
  <pre id="markdown_text">
    # Header 1 #
    ## Header 2 ##
    ... etc ...

    This is a paragraph, 
    which is text surrounded 
    by whitespace. 

    [Link](http://test.org)

    Now some inline markup 
    like _italics_,  
    **bold**, and `code()`. 

    ![img alt](/photo.jpg)     

    > Blockquotes text
    >> can be nested

    * Bullet lists are easy 
    - Another one
    + Another one

    1. A numbered list
    2. Which is numbered

    And now some code:

      // Code is text 
      // indented
      which(is_easy) {
        to_remember();
      }

    ~~~

    Text with  
    two trailing spaces  
    (on the right)  
    can be used  
    for things like poems  

    ### Horizontal rules

    * * * *
    ****
    ----------------

  </pre>
  <div class="nav_text">
    <a href="http://warpedvisions.org/projects/markdown-cheat-sheet/" target="_blank">Full Cheat Sheet</a>
    <br />
    <br />
    <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Full Markdown Docs</a>
  </div>

