- unless Tag.empty?
  .nav_section
    %span.nav_title
      %a{ :href => "/tag" }Tags
    %br
    #nav_tag_list
      - (Tag.all.sort_by { |t| t.posts.count }).reverse.each_with_index do |tag, index|
        - break if index > 9
        - unless tag.posts.empty?
          %span.tag_link
            %a{ :href => "/tag/#{tag.name}" }#{tag.name}
