  <div class="header">
    <h3 class="sub_header">Archive</h3>
  </div>
  <ul class="nav_list">
    <% find_d("[0-9]{4}").each do |ydir| %>
      <li class="nav_item"><b><%=ydir.split("/").last%></b></li>
      <% mdirs = find_d("[0-9]{2}").select { |m| m =~ Regexp.new(File.basename(ydir)) } %>
      <% unless mdirs.empty? %>
        <ul class="nav_sub_list">
          <% mdirs.each do |mdir| %>
            <li class="nav_item"><%=archive_link(mdir)%></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
