<div class="header post_header">
  <h3 class="sub_header"><%= post_link(post) %></h3>
  <div class="header_time"><%= time_display(post) %></div>
</div>
<span class="clear" />
<div class="post">
  <%= post_contents(post) %>
</div>
