<% 
  state ||= :index 
  state_class = if state == :index
                  "post_index"
                else
                  "post_show"
                end
%>
<div class="post <%=state_class%>">
  <div class="post_header">
    <span class="post_title"><%= post_link(post) %></span>
    <div class="post_date"><%= time_display(post) %></div>
  </div>
  <div class="post_contents">
    <%= post_contents(post) %>
  </div>
</div>
