<div class="post post_show">
  <div class="post_header">
    <span class="post_title"><%=post["title"] %></span>
  </div>
  <div class="post_contents">
    <%= markdown post["body"] %>
    <% unless post["tags"].blank? %>
      <br /><br />
      Tags: <%= post["tags"].split(",").join("&nbsp;") %>
    <% end %>
  </div>
</div>

