.post.post_index
  .post_header
    %span.post_title<= "Filtered by Tag:: #{tag}"

- unless posts.count == 0
  - posts.each do |post|
    = haml choose_template(:post), :layout => false, :locals => { :post => post }
  .display_pagination
    = will_paginate posts
- else
  %h3 There are no posts for this tag!

