<div class="post post_index">
  <div class="post_header">
    <span class="post_title">Filtered by Tag:: <%=tag%></span>
  </div>
</div>
<% 
unless latest.count == 0
  latest.each do |post| %>
  <%= erb :post, :layout => false, :locals => { :post => post } %>
<%end 
else%>
<h3>There are no posts for this tag!</h3>
<%end%>


