body {
  font-family: Verdana;
  font-size: 13px;
  background-color: whitesmoke;
}

small {
  font-size: 12px;
  color: gray;
}

#page {
  margin: 10px auto;
  padding: 10px;
  width: 1100px;
  /*background-color: #660000;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;

  background-image: linear-gradient(top, rgb(102,0,0) 3%, rgb(235,235,235) 25%);
  background-image: -o-linear-gradient(top, rgb(102,0,0) 3%, rgb(235,235,235) 25%);
  background-image: -moz-linear-gradient(top, rgb(102,0,0) 3%, rgb(235,235,235) 25%);
  background-image: -webkit-linear-gradient(top, rgb(102,0,0) 3%, rgb(235,235,235) 25%);
  background-image: -ms-linear-gradient(top, rgb(102,0,0) 3%, rgb(235,235,235) 25%);

  background-image: -webkit-gradient(
     linear,
     left top,
     left bottom,
     color-stop(0.03, rgb(102,0,0)),
     color-stop(0.25, rgb(235,235,235))
);

}

#page #page_body {
  padding: 0;
}

#header {
  padding: 25px 0 0 10px;
  width: 1040px;
  vertical-align: bottom;
}

#header .main_title {
  font-family: Arial Black;
  color: #333;
  font-size: 40px;
  font-weight: bold;
  line-height: 33px;
  margin: 0;
  vertical-align: bottom;
  text-shadow: 0 0 89px whitesmoke, 0 0 62px whitesmoke, 0 0 14px whitesmoke;
}

#header #top_links {
  font-size: 11pt;
  float: right;
  margin-right: 15px;
  line-height: 33px;
}

#header #top_links a {
  color: whitesmoke;
}

#content {
  float: left;
  width: 845px;
  min-height: 560px;
  margin-right: 5px;
}

#content .post_show {
  min-height: 560px;
}


#nav {
  width: 250px;
  float: right;
}

#nav #share_this {
  margin-bottom: 3px;
  padding: 12px;
  height: 28px;
  background-color: whitesmoke;
  text-align: center;
}

#nav .nav_section {
  background-color: whitesmoke;
  padding: 15px;
}

#nav .nav_section .nav_title {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

#nav a {
  color: #333;
}


.post {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  background-color: whitesmoke;
  margin: 0 0 3px 0;
  padding: 20px;
}

.post_header {
  /*text-align: middle;*/
  line-height: 16pt;
  color: gray;
}

.post_title {
  font-size: 16pt;
  color: gray;
}

.post_header .post_title a {
  font-size: 16pt;
  text-decoration: none;
  color: gray;
}

.post_header .post_date {
  font-size: 10pt;
  float: right;
}

.post_contents {
  text-align: top;
  /*background-color: yellow;*/
  padding: 5px;
}

.post_contents a {
  color: #333;
}

/* handle code from gist.github.com */
.post .post_contents .gist {
  font-size: 10pt;
}


.clear_both {
  clear: both;
}

.clear_none {
  clear: none;
}

/* FORMS */
#form_buttons {
  width: 845px;
  text-align: center;
}

input.button {
  font-size: 10pt;
  width: 150px;
  height: 30px;
  background-color: #eee;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input.button_delete {
  background-color: maroon;
  color: white;
}

textarea.value {
  color: #333;
  font-face: monospace;
  font-size: 10pt;
  margin: 10px 10px 10px 10px;
  height: 400px;
  width: 99%;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input.value {
  color: gray;
  font-face: monospace;
  font-size: 14pt;
  height: 25px;
  width: 500px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

code {  
  display:block;  
  margin: 10px;  
  padding: 10px;  
  background-color: #333333;  
  word-wrap: break-word;  
  width: 95%;  
  color: #00ff00;  
  font-family: Monaco;  
  font-size: 11px; 
  border-radius: 5px 
}

#nav_tag_list {
  padding: 10px;
}

.tag_link { 
  padding: 5px 3px 5px 0;
  line-height: 25px;
}

.tag_page_link { 
  padding: 5px;
  margin: 4px;
  line-height: 45px;
  white-space: nowrap;
}

.tag_page_link small {
  font-size: 9px;
}

#form_tags {
  text-align: center;
  padding-bottom: 30px;
}

#form_tags input {
  width: 650px;
  padding: 2px 5px;
  font-size: 14px;
}

#footer {
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
}

#footer a {
  color: #333;
}
