body {
  font-family: monospace;
  background-color: #333;
}

#page {
  margin: 25px auto;
  background-color: green;
  width: 1050px;
}

#page #page_body {
  background-color: #333;
  padding: 0;
}

#header {
  padding: 10px 0 0 10px;
  background-color: #333;
  width: 1040px;
}

#header .main_title {
  color: #333;
  font-size: 46px;
  font-weight: bold;
  line-height: 33px;
  margin: 0;
  vertical-align: bottom;
  text-shadow: 0 0 89px whitesmoke, 0 0 62px whitesmoke, 0 0 14px whitesmoke;
}

#header #top_links {
  font-size: 11pt;
  float: right;
  margin-right: 25px;
  line-height: 33px;
}

#header #top_links a {
  color: whitesmoke;
}

#content {
  background-color: #333;
  float: left;
  width: 795px;
  min-height: 560px;
  margin-right: 5px;
}

#content .post_show {
  min-height: 560px;
}

#nav {
  background-color: whitesmoke;
  min-height: 600px;
  width: 249px;
  float: right;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-bottom-left-radius: 5px;*/
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  /*-moz-border-radius-bottomleft: 5px;*/
}

#nav #share_this {
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid #333;
  text-align: center;
}

#nav .nav_section {
  padding: 15px;
}

#nav .nav_section .nav_title {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

#nav a {
  color: #333;
}


.post {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  background-color: whitesmoke;
  margin: 0 0 20px 0;
  padding: 20px;
}

.post_header {
  /*text-align: middle;*/
  line-height: 16pt;
  color: gray;
}

.post_title {
  font-size: 16pt;
  color: gray;
}

.post_header .post_title a {
  font-size: 16pt;
  text-decoration: none;
  color: gray;
}

.post_header .post_date {
  font-size: 10pt;
  float: right;
}

.post_contents {
  text-align: top;
  /*background-color: yellow;*/
  padding: 5px;
}

.post_contents a {
  color: #333;
}

.clear_both {
  clear: both;
}

.clear_none {
  clear: none;
}

/* FORMS */
input.button {
  font-size: 10pt;
  width: 150px;
  height: 30px;
  background-color: #eee;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input.button_delete {
  float: left;
  background-color: maroon;
  color: white;
}

textarea.value {
  font-size: 11pt;
  margin: 10px 10px 10px 10px;
  height: 400px;
  width: 99%;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input.value {
  font-weight: bold;
  font-size: 16pt;
  height: 35px;
  width: 500px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

